.main-width {
	max-width: 800px;
}

.myModalSpam {
	/*background-image: url( {{url_for('static', filename='img/lock05.jpg') }} );*/
	/*background-clip: red;*/
	background-image: url('./img/lock05.jpg');
	background-position: top center;
	background-repeat: no-repeat;
	min-height: 300px;
}