{% extends "base.html" %}
{% from "_macros.html" import showPost %}

{% block content %}

	 <div class="container my-3 main-width">

	 	<h1 id="post0" class="text-center"> {{ board.name }} </h1>

	 		{% for post in board.posts %}
	 			{{ showPost(post) }}

	 		{% endfor %}


	 </div>

	{% if board.open == False %}

		<div class="container my-1 bg-light bg-opacity-50 main-width">
			<h4 class="text-center"> ZAMKNIĘTE </h4>
			<p class="text-center"> Nie można pisać na tej tablicy </p>
		</div>

	{% else %}


		 <div class="container my-1 bg-white bg-opacity-50 main-width">

		 	<form action="" method="POST">
		 		{{ form.hidden_tag() }}

		 		<div class="row">

		 			<div class="col-md-4 text-center">
		 				<h4> {{ form.name.label }} </h4>
		 				{{ form.name(class="form-control") }}
		 			</div>

		 			<div class="col-md-8 text-center">
		 				<h4> {{ form.text.label }} </h4>
	                        {{ form.text(class="form-control", rows=4, style="white-space: pre-wrap;") }}
		 			</div>

		 			<div class="row my-2 d-flex justify-content-center">
	                    <div class="col-4"> {{ form.submit(class="btn btn-danger", style="width: 100%;") }} </div>
	                </div>


		 		</div>
		 	</form>
		 </div>
	{% endif %}

	<div class="container main-width my-2 d-flex justify-content-center">
		<a href="#rlogo" class="btn btn-success"> Powrót </a>
	</div>

{% endblock %}